NODE_ENV=
PORT=

CORS_ORIGIN=
CLIENT_URL=
PUBLIC_BASE_URL=

RESEND_API_KEY=
MAIL_FROM_NAME=
DISABLE_EMAIL=

MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

CLIENT_SECRET_KEY=

RAZORPAY_KEY_ID=
RAZORPAY_SECRET=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_SERVICE_ACCOUNT_JSON=
